@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400&family=Poppins:wght@400;600;900&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(180deg, #090A0C 0%, #14191F 100%);
    background-repeat: no-repeat;
    color: white;
    font-family: Kanit;
    overflow: hidden;
}


.nav{
    align-items: center;
    justify-content: space-between;
    color: white;
    display: flex;
}

.nav > div {
    display: flex;
}
.nav-elements > div > a:hover{
  color: rgb(255, 145, 0);
}

.nav-elements > div > a{
  text-decoration: none;
  color: white;
  
}

.nav-elements > div{
    color: #FFF;
    font-family: Kanit;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    padding: 0 50px;
    
  }

  #contacts-div{
    padding: 10%;
    margin-bottom: 10%;
  }

  h2{
    font-size: 50px;
    letter-spacing: 5px;
  }

  .contact-content > p{
    font-size: 30px;
    letter-spacing: 1px;
  }

  .contact-info > h3{
    font-size: 25px;
    letter-spacing: 3px;
  }

  .contact-info > p{
    font-size: 18px;
    letter-spacing: 1px;
  }